<div class="main-div">
    <mat-card class="matCard" style="box-shadow: 1px 1px 7px 0px;">

        <form>
            <div>

                <div fxLayout="row" fxLayoutAlign="center" style="font-size:24px; margin-bottom: 25px;">
                    <span style="color: rgba(0, 0, 0, 0.342);">Fundoo</span>
                    <span style="color: rgb(255, 174, 0);">Notes</span>
                </div>

                <div class="Title2">Reset Password</div>

            </div>

            <div>
                <mat-form-field appearance="outline" class="Log">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="password" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>

                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" class="Log">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="password" [type]="hide ? 'password' : 'text'" [formControl]="confirmPassword" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="confirmPassword.invalid">{{getPasswordErrorMessage()}}</mat-error>

                </mat-form-field>
            </div>

            <div class="button">
                <div>
                    <button mat-raised-button type="submit" (click)="onSubmit()">Change Password</button>
                </div>
            </div>

        </form>
    </mat-card>

</div>