.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.matCard {
    display: flex;
}

.Title2 {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgba(16, 14, 122, 0.795);
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.forgot {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.Log {
    margin-top: 20px;
    display: flex;
}