.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.matCard {
    display: flex;
    flex-flow: row;
}

.Title2 {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgba(16, 14, 122, 0.795);
}

.form_field {
    display: flex;
    justify-content: space-around;
}

.form-Email {
    display: flex;
    width: 100%;
}