<div class="container">
    <div *ngFor="let item of data">
        <div *ngIf="item.trashed===true" class="mat-display">
            <mat-card [ngStyle]="{'background-color':item.color}"
                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); word-wrap: normal;">
                <div class="mat-title">
                    <mat-card-title style="font-family: fxFlexAlign;">
                        {{item.title}}
                    </mat-card-title>
                </div>
                <div class="mat-desc">
                    <mat-card-content>
                        {{item.description}}
                    </mat-card-content>
                </div>
                <div>
                    <button mat-icon-button (click)="onDelete(item.id)">
                        <mat-icon matTooltip="Delete Forever">delete_forever</mat-icon>
                    </button>
                    <button mat-icon-button (click)="onRestore(item.id)">
                        <mat-icon matTooltip="Restore">restore_from_trash</mat-icon>
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</div>