<div class="container">
  <div class="mat-display">
    <mat-card style="background-color: rgb(243, 235, 167);">
      <div class="mat-title">
        <mat-card-title>
          {{ note.title }}
        </mat-card-title>
      </div>
      <div class="mat-desc">
        <mat-card-content>
          <textarea style="border: none;font-size:16px;font-style: normal;color: #000;" class="textArea">
            {{ note.description }}
          </textarea>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>